<!DOCTYPE html>
<!-- Copyright (c) 2024 Staffordshire University - All Rights Reserved -->
<html lang="en">

<head>
    <title>Error</title>
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <main>

        <section>
          
            <h2>You seem to be a little bit lost. Let us help you out...</h2>
            <h3>Error 404 Page Not Found: <span class="error-url"><%=url%></span></h3>
        </section>
        <section class="error-directions"> 
            <p>You can go home instead:</p> 
            <p><a href="/">Home</a></p> 
           
        </section> 

    </main>


</body>

</html>