body {
    background-color:#7FFFD4 ;
}

.signup-page {
    background: pink;
}
.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.product-submit {
    padding: 0.5rem;
    color: red;
}